@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======

.glass {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
>>>>>>> 96a6540f6a47e6ebd3bcc701ddd652d5a06ed92a
